@model List<Comic>

<h1 class="my-3">COMIC</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Imagen</th>
            <th scope="col">Descripcion</th>

        </tr>
    </thead>
    <tbody>
        @foreach (Comic comic in Model)
        {
            <tr>
                <th>@comic.Nombre</th>
                <td><img src="@comic.Imagen" width="100" height="100"/></td>
                <td>@comic.Descripcion</td>
            </tr>
        }
    </tbody>
</table>
